body {
  color: #999999;
  background-color: black;
  background-position: center;
  background-size: 100%;
  background-image: url("../images/baixie.png");
  background-blend-mode: multiply;
}

* {
  cursor: url("./baixie.cur"), auto !important;
}